<%- include("../../common/head.ejs") %>

    <body class="bg-success">
        <%- include("../../common/alerts.ejs") %>
            <div id="layoutAuthentication">
                <div id="layoutAuthentication_content">
                    <main>
                        <div class="container">
                            <div class="row justify-content-center">
                                <div class="col-lg-7">
                                    <div class="card shadow-lg border-0 rounded-lg mt-5">
                                        <div class="card-header">
                                            <h3 class="text-center font-weight-light my-4">Create Admin Account</h3>
                                        </div>
                                        <div class="card-body">
                                            <form method="post" action="/admin/register" enctype="multipart/form-data">
                                                <div class="row mb-3">
                                                    <div class="col-md-6">
                                                        <div class="form-floating mb-3 mb-md-0">
                                                            <input class="form-control" id="inputFirstName" type="text"
                                                                placeholder="Enter your first name" name="firstName" />
                                                            <label for="inputFirstName">First name</label>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="form-floating">
                                                            <input class="form-control" id="inputLastName" type="text"
                                                                placeholder="Enter your last name" name="lastName" />
                                                            <label for="inputLastName">Last name</label>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-floating mb-3">
                                                    <input class="form-control" id="inputEmail" type="email"
                                                        placeholder="name@example.com" name="email" />
                                                    <label for="inputEmail">Email address</label>
                                                </div>

                                                <div class="form-floating mb-3">
                                                    <input class="form-control" id="inputPassword" type="password"
                                                        placeholder="Create a password" name="password" />
                                                    <label for="inputPassword">Password</label>
                                                </div>

                                                <div class="form-floating mb-3">
                                                    <input class="form-control" id="inputFile" type="file"
                                                        accept=".jpg, .jpeg, .png, .gif"
                                                        placeholder="Choose your profile picture" name="image" />
                                                </div>

                                                <div class="row mb-3">
                                                    <div class="col-md-12">
                                                        <div class="form-floating mb-3 mb-md-0">
                                                            <label for="selectRole" class="pb-1">Choose your defined
                                                                role:</label>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="form-floating mb-3 mb-md-0">
                                                            <select id="selectRole" name="role"
                                                                class="form-control pt-1">
                                                                <option disabled selected>Select your Role</option>
                                                                <option value="admin">Admin</option>
                                                                <option value="instructor">Instructor</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="form-floating mb-3">
                                                    <input class="form-control" id="secretKey" type="password"
                                                        placeholder="Enter the secret key" name="secretKey" />
                                                    <label for="secretKey">Secret Key</label>
                                                </div>

                                                <div class="row mb-3">
                                                    <div class="col-md-12">
                                                        <div class="form-floating mb-3 mb-md-0">
                                                            <label for="selectTimezone" class="pb-1">Choose your Timezone</label>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="form-floating mb-3 mb-md-0">
                                                            <select id="selectTimezone" name="timezone" class="form-control pt-1">
                                                                <% timezones.map(timezone=> { %>
                                                                    <option value="<%= `${timezone.utc}~${timezone.name}` %>" ><%= timezone.name %></option>
                                                                <% }) %>
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>

                                                <!-- <div class="row mb-3">
                                                <div class="col-md-12">
                                                    <div class="form-floating mb-3 mb-md-0">
                                                        <input class="form-control" id="inputPassword" type="password" placeholder="Create a password" name="password" />
                                                        <label for="inputPassword">Password</label>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-floating mb-3 mb-md-0">
                                                        <input class="form-control" id="inputPasswordConfirm" type="password" placeholder="Confirm password" />
                                                        <label for="inputPasswordConfirm">Confirm Password</label>
                                                    </div>
                                                </div> -->
                                                <div class="mt-4 mb-0">
                                                    <div class="d-grid m-3"><button type="submit"
                                                            class="btn btn-primary btn-block">Create
                                                            Account</button></div>
                                                </div>
                                            </form>
                                        </div>
                                        <div class="card-footer text-center py-3">
                                            <div class="small"><a href="/admin/loginPage" class="text-black">Already
                                                    have an
                                                    account? Go to login</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </main>
                </div>
                <%- include("../../common/footer.ejs") %>
            </div>
            <%- include("../../common/scripts.ejs") %>
    </body>

    </html>