<link href="https://cdn.jsdelivr.net/npm/simple-datatables@7.1.2/dist/style.min.css" rel="stylesheet" />
<%- include("../../common/head.ejs") %>

    <body class="sb-nav-fixed">
        <nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
            <!-- Navbar Brand-->
            <a class="navbar-brand ps-3" href="/"><%= siteName %></a>
            <!-- Sidebar Toggle-->
            <button class="btn btn-link btn-sm order-1 order-lg-0 me-4 me-lg-0" id="sidebarToggle" href="#!"><i
                    class="fas fa-bars"></i></button>
            <!-- Navbar Search-->
            <form class="d-none d-md-inline-block form-inline ms-auto me-0 me-md-3 my-2 my-md-0">
                <div class="input-group">
                    <input class="form-control" type="text" placeholder="Search for blogs" aria-label="Search for blogs"
                        aria-describedby="btnNavbarSearch" />
                    <button class="btn btn-primary" id="btnNavbarSearch" type="button"><i
                            class="fas fa-search"></i></button>
                </div>
            </form>
            <!-- Navbar-->
            <ul class="navbar-nav ms-auto ms-md-0 me-3 me-lg-4">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false"><img
                            src="/uploads/profile_picture/admin/<%= user.image %>" alt="admin-image"
                            style="width: 30px; height: 30px; object-fit: cover; border-radius: 100px;"></a>
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="/admin/settings/">Settings</a></li>
                        <li><a class="dropdown-item" href="#!">Activity Log</a></li>
                        <li>
                            <hr class="dropdown-divider" />
                        </li>
                        <li><a class="dropdown-item" href="/admin/logout">Logout</a></li>
                    </ul>
                </li>
            </ul>
        </nav>
        <div id="layoutSidenav">
            <div id="layoutSidenav_nav">
                <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
                    <div class="sb-sidenav-menu">
                        <div class="nav">
                            <div class="sb-sidenav-menu-heading">Core</div>
                            <a class="nav-link" href="/admin/">
                                <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                                Dashboard
                            </a>
                            <div class="sb-sidenav-menu-heading">Pages</div>
                            <a class="nav-link collapsed" href="#" data-bs-toggle="collapse"
                                data-bs-target="#collapseLayouts" aria-expanded="false" aria-controls="collapseLayouts">
                                <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
                                CMS Management
                                <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                            </a>
                            <div class="collapse" id="collapseLayouts" aria-labelledby="headingOne"
                                data-bs-parent="#sidenavAccordion">
                                <nav class="sb-sidenav-menu-nested nav">
                                    <a class="nav-link" href="/admin/cms/general">General</a>
                                    <a class="nav-link" href="/admin/cms/termsCMSPage">Terms</a>
                                    <a class="nav-link" href="/admin/cms/privacyCMSPage">Privacy Policy</a>
                                    <a class="nav-link" href="/admin/cms/homeCMSPage">Home</a>
                                    <a class="nav-link" href="/admin/cms/aboutUsCMSPage">About Us</a>
                                </nav>
                            </div>

                            <a class="nav-link" href="/admin/allFAQsPage">
                                <div class="sb-nav-link-icon"><i class="fa-solid fa-circle-question"></i></div>
                                FAQ Management
                            </a>
                            <a class="nav-link" href="/admin/allTestimonialsPage">
                                <div class="sb-nav-link-icon"><i class="fa-regular fa-comments"></i></div>
                                Testimonials
                            </a>
                            <a class="nav-link" href="/admin/allCategoriesPage">
                                <div class="sb-nav-link-icon"><i class="fa-solid fa-icons"></i></div>
                                Category
                            </a>
                            <a class="nav-link active bg-success" href="/admin/allTagsPage" >
                                <div class="sb-nav-link-icon"><i class="fa-solid fa-tags"></i></div>
                                Tags
                            </a>
                            <a class="nav-link" href="/admin/userManagement">
                                <div class="sb-nav-link-icon"><i class="fa-solid fa-users"></i></div>
                                User Management
                            </a>
                            <a class="nav-link" href="/admin/getAllComments">
                                <div class="sb-nav-link-icon"><i class="fa-regular fa-comment-dots"></i></div>
                                All Comments
                            </a>
                        </div>
                    </div>
                    <div class="sb-sidenav-footer">
                        <div class="small">Logged in as: <%= user.role %>
                        </div>
                        <%= user.firstName + " " + user.lastName %>
                    </div>
                </nav>
            </div>
            <div id="layoutSidenav_content">
                <main>
                    <%- include("../../common/alerts.ejs") %>
                        <section style="background-color: #eee;">
                            <div class="container py-5">
                                <h1 class="mt-4">Tag Details</h1>
                                <div class="row">
                                    <div class="col">
                                        <nav aria-label="breadcrumb" class="bg-body-tertiary rounded-3 p-3 mb-4">
                                            <ol class="breadcrumb mb-0">
                                                <li class="breadcrumb-item"><a href="/admin/allTagsPage">Tag
                                                        Management</a></li>
                                                <li class="breadcrumb-item active" aria-current="page">Single Tags</li>
                                            </ol>
                                        </nav>
                                    </div>
                                </div>

                                <div class="row">
                                    
                                    <div class="card col-12 my-1" style="background-color: <%= Tag.status==='active' ? '#28c76f30' : '#ea545530' %> ;">
                                        <div class="card-body">
                                            <%= Tag.name %>
                                        </div>
                                        <div class="card-footer">
                                            <%= Tag.status %>
                                        </div>
                                    </div>

                                    <div class="my-3">
                                        <a href="/admin/allTagsPage" class="btn btn-primary"><i class="fa-solid fa-chevron-left" style="font-size: x-small;"></i> All Tags</a>
                                    </div>
                                </div>
                            </div>
                        </section>
                </main>
                <%- include("../../common/footer.ejs") %>

            </div>
            <%- include("../../common/scripts.ejs") %>
                <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js"
                    crossorigin="anonymous"></script>
                <script src="/assets/demo/chart-area-demo.js"></script>
                <script src="/assets/demo/chart-bar-demo.js"></script>
                <script src="https://cdn.jsdelivr.net/npm/simple-datatables@7.1.2/dist/umd/simple-datatables.min.js"
                    crossorigin="anonymous"></script>
                <script src="/js/datatables-simple-demo.js"></script>

    </body>

    </html>